.form {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 10px;
}

@media (max-width:767px) {
    .form {
        display: grid;
        grid-template-columns: auto;
    }

    .form__button {
        padding: 10px;
    }
}

.form__button {
    background-color: teal;
    color: #ddd;
    border-style: none;
}

.form__button:hover {
    background-color: rgba(0, 128, 128, 0.75);
}

.form__button:active {
    background-color: rgba(0, 128, 128, 0.5);
}

.form__input {
    padding: 10px;
}