.list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0px;
    border-radius: 10px;
    background-color: #8BA5B7;
}

.list__item {
    display:grid;
}

.list__item--done {
    text-decoration: line-through;
}