.list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0px;
    border-radius: 10px;
    background-color: #8BA5B7;
}

.list__button--done {
    border-style: none;
    background-color: green;
    color: #ddd;
    width: 10px;
}

.list__button--remove {}

.list__item {
    padding: 7px;
    display: flex;
    justify-content: space-between;
}

.list__item--done {
    text-decoration: line-through;
}